// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #71B045
$secondary = #26A69A
$tertiary  = #414042

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$light = #ffffff
$gray = #7B7B7B
$orange = #EF7C42
// Overrides
$button-padding = 4px 25px
$button-font-weight = bold

// Global
$gutter-width = 100px

// Promo Bar
$promo-bar-height = 28px
$promo-bar-bg-color = $tertiary
$promo-bar-color = $light

// Top Nav
$top-nav-padding-y = 15px
$top-nav-bg-color = $light
$top-nav-height = 80px
$top-nav-shadow = box-shadow 0 2px 10px 0 rgba(0,0,0,0.10)

// Content Area
$page-container-width = 80%

// Footer
$footer-bg-color = $tertiary
$footer-color = #F7F4EA
$footer-height = 75px
$footer-text-size = 11px
$footer-opacity = 50
