@font-face {
  font-family 'Scandia'
  src url('fonts/Scandia-Bold.eot')
  src url('fonts/Scandia-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Scandia-Bold.woff2') format('woff2'),
  url('fonts/Scandia-Bold.woff') format('woff'),
  url('fonts/Scandia-Bold.ttf') format('truetype'),
  url('fonts/Scandia-Bold.svg#Scandia-Bold') format('svg')
  font-weight bold
  font-style normal
}

@font-face {
  font-family 'Scandia'
  src url('fonts/Scandia-Regular.eot')
  src url('fonts/Scandia-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Scandia-Regular.woff2') format('woff2'),
  url('fonts/Scandia-Regular.woff') format('woff'),
  url('fonts/Scandia-Regular.ttf') format('truetype'),
  url('fonts/Scandia-Regular.svg#Scandia-Regular') format('svg')
  font-weight normal
  font-style normal
}

body {
  font-family 'Scandia'
}

.q-btn
  box-shadow 0 5px 25px 0 rgba(0,0,0,0.05);
  font-weight bold
  border-radius 2px
  font-size 11px
  color #FFFFFF
  letter-spacing 1.5px
  text-align center
  line-height 20px
  text-shadow 0 2px 4px rgba(0,0,0,0.50)
  background #71B045 !important
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

  &.tall
    height 48px

  &:hover
    background #669933 !important;
    text-shadow none
